<div class="navbar has-shadow">
  <div class="container">
      <div class="navbar-brand">
          <a class="navbar-item">
            MyCompany
          </a>
          <!-- toggle is a variable and [ngClass] makes reference to an style class, "is-active" is from Bulma -->
          <span class="navbar-burger" (click)="toggleNavbar = !toggleNavbar;" [ngClass]="{'is-active': toggleNavbar}">
            <span></span>
            <span></span>
            <span></span>
          </span>

        </div>

    <div class="navbar-menu" [ngClass]="{'is-active': toggleNavbar}">
      <div class="navbar-end">
          <a routerLink="/" class="navbar-item r-item">Home</a>
          <a class="navbar-item r-item">Features</a>
          <a class="navbar-item r-item">About</a>
          <a routerLink="/faq" class="navbar-item r-item">FAQ</a>
          
          <div class="navbar-item">
            <a class="button is-primary is-outlined">
              <span class="icon">
                <i class="fa fa-download"></i>
              </span>
              <span>Join Now</span>
            </a>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- ################################## ↑NAVBAR↑ ############################# -->
<router-outlet></router-outlet>
<!-- ################################## ↓FOOTER↓ ############################# -->
<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column">
        <p>You can write some text here for your footer element.</p>
      </div>
      <div class="column has-text-right">
        <a href="#" class="icon"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="icon"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </div>
</footer>

