<div class="navbar has-shadow">
  <div class="container">
      <div class="navbar-brand">
          <a class="navbar-item">
            MyCompany
          </a>
          <!-- toggle is a variable and [ngClass] makes reference to an style class, "is-active" is from Bulma -->
          <div class="navbar-burger" (click)="toggle = !toggle" [ngClass]="{'is-active': toggle}">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

    <div class="navbar-menu">
      <div class="navbar-end">
          <a routerLink="/" class="navbar-item r-item">Home</a>
          <a class="navbar-item r-item">Features</a>
          <a class="navbar-item r-item">About</a>
          <a routerLink="/faq" class="navbar-item r-item">FAQ</a>
          
          <div class="navbar-item">
            <a class="button is-primary is-outlined">
              <span class="icon">
                <i class="fa fa-download"></i>
              </span>
              <span>Join Now</span>
            </a>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- ################################## ↑NAVBAR↑ ############################# -->
<router-outlet></router-outlet>
<!-- ################################## ↓FOOTER↓ ############################# -->


